/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    
    height: 100vh;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
        justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__burger-menu {
    display: none;
}

.header__logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__logo {
    font-size: 2rem;
    color: #fff;
}

.header__slogan {
    display: none;
}

.sticky-aside {
    display: flex;
    position: fixed;
}

.main {
    background-image: url('../Resources/pexels-leonardho-1552252.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
}

.main__welcome-header{
    font-size: 2rem;
    text-align: center;
}
.main__button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    height: 100%;   
}

.main__button{
    padding: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 480px) {
    .header__burger-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .burger-menu__line {
        width: 30px;
        height: 3px;
        background-color: #fff;
    }
}
